# Gradle
.gradle/
**/build/
**/bin/

# Java
*.class
*.jar
*.war
*.ear
out/

!gradle/wrapper/gradle-wrapper.jar


# IDEs
.idea/
*.iml
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs and crash dumps
*.log
hs_err_pid*
replay_pid*
